
<body>
    <div class="table">
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>DOB</th>
        <th>Address</th>
        <th></th>
    
    </tr>
    <tr>
        <td>01</td>
        <td>Ranjitha</td>
        <td>ranjitha@gmail.com</td>
        <td>9876543211</td>
        <td>03 Jul 1996</td>
        <td>Shimoga</td>
        <td class="btn">Edit</td>
        
    </tr>


</table></div>
<button [routerLink]="['/user']">Back</button>
</body>