<body>
    <div class="table">
    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>DOB</th>
        <th>Address</th>
        <th></th>
        
    
    </tr>
    <tr>
        <td>01</td>
        <td>Ranjitha</td>
        <td>ranjitha@gmail.com</td>
        <td>9876543211</td>
        <td>03 Jul 1996</td>
        <td>Shimoga</td>
        <td class="btn">Delete</td>
    </tr>
    
    <tr>
        <td>02</td>
        <td>Sudha</td>
        <td>sudha@gmail.com</td>
        <td>9875674211</td>
        <td>03 May 1998</td>
        <td>Mysore</td>
        <td class="btn">Delete</td>
        
    </tr>
    
    <tr>
        <td>03</td>
        <td>Shravya</td>
        <td>shravya@gmail.com</td>
        <td>9977556611</td>
        <td>07 Jan 1996</td>
        <td>Bangalore</td>
        <td class="btn">Delete</td>
        
    </tr>

    
    <tr>
        <td>04</td>
        <td>Ramya</td>
        <td>ramya@gmail.com</td>
        <td>9098991292</td>
        <td>25 Apr 1997</td>
        <td>Shimoga</td>
        <td class="btn">Delete</td>
        
    </tr>

</table></div>
<button [routerLink]="['/home']">Back</button>
</body>