<body>
    <div class="body">
    <div class="card" >
       
        <h1>Add new Student</h1>
       
        <form action="">
           
            <label id="name" for="">Name:</label><br>
            <input type="text" class="text" name="name" id="name1" >
            <br><br>
    
            
    
            <label for="">Email Id :</label><br>
            <input type="email" class="text"  name="mail" id="email" >
            <br><br>
    
            <label id="phone" for="">Phone Number : </label><br>
            <input type="tel" class="text"  name="phone" id="phone">
            <br><br>
    
            <label id="gender" for="gender">Gender :</label>
            <input type="radio" name="gender" id="male" value="male">
            <label for="gender">Male</label>
            <input type="radio" name="gender" id="male" value="female">
            <label for="gender">Female</label>
            <br><br>
    
            <label for="">Date of Birth : </label> <br>
            <input type="date" class="text"  name="" id="date">
            <br><br>
    
            <label for="">Nationality : </label><br>
            <select name="nationality" class="text"  id="nationality">
                <option value="">India</option>
                <option value="">Australia</option>
                <option value="">USA</option>
                
                <option value="">China</option>
                <option value="">Japan</option>
                <option value="">Russia</option>
            </select><br><br>
    
            <label for="">Relationship : </label>
            <input type="radio" name="married" id="married">
            <label for="">Married</label>
            <input type="radio" name="married" id="unmarried">
            <label for="">Unmarried</label>
            <br><br>
    
            <label id="address" for=""> Address 1:</label><br>
            <input type="textarea" class="text"  name=""  id="address1">
            <br><br>
    
            <button type="submit"  class="btn btn-primary" (click)="onsubmit()">Submit</button>
            <button  class="btn btn-primary" [routerLink]="['/home']">Back</button>
        </form>
    </div>
    
</div>
</body>